:root{
    --colorwrapper:#2f3640;
}
.searchBox {
    position: relative;
    /* transform:  translate(-50%,50%); */
    background: #2f3640;
    width: 40px; 
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    transition: 0.4s;
}

.searchBox:hover > .searchInput {
    width: 80%;
    padding: 0px 6px;
    
}
.searchBox:hover{
    width: 240px;
    
}
.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
  left: 200px;
  border-top: 2px solid rgb(107, 107, 107);
  border-left: 2px solid rgb(107, 107, 107);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  
}

.searchButton {
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
    bottom:0;top:0;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-top: 2px solid white;
    border-left: 2px solid white;
    /* border: 2px solid blue */
}

.searchInput {
    border:none;
    position: absolute;
    top:0;bottom: 0;
    background: none;
    outline: none;
    float:left;
    padding: 0px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    font-weight: bold;
    width: 0px;
}
.searchButton>i{
    font-size: 15px;
}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 80%;
    padding: 0 6px;
    }
}

/* navbar_brad_position */
.navbar_brad_position{
    width:250px;
}

/* wrapper list */
li{
    list-style: none;
}
.wrapper_main{
    background: var(--colorwrapper);
    height:100vh;
    width:240px;
}
.wrapper_main>div{
   height: 100%;
   width: 100%;
}
.title_name{ 
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
}
.wrapper_contain,.wrapper_contain>li{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.wrapper_contain>li>a{
    position: absolute;
    width: 100%;
    padding: 0px 15px;
    margin: 10px;
}

@media (max-width: 576px) { 
    .navbar_brad_position{
        width:100%
    }
 }
