.wrapper_main{
    background: #2f3640;
    height:100vh;
    width:240px;
}

.searchBox {
    position: absolute;
    left: 50%;
    /* transform:  translate(-50%,50%); */
    background: #2f3640;
    width: 40px; 
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    transition: 0.4s;
}

.searchBox:hover > .searchInput {
    width: 80%;
    padding: 0px 6px;
    /* margin: 0px 6px */
}
.searchBox:hover{
    width: 240px;
}
.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    position: absolute;
    margin: auto;
    right: 5px;
    bottom:0;top:0;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    position: absolute;
    top:0;bottom: 0;
    background: none;
    outline:none;
    float:left;
    padding: 0px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    font-weight: bold;
    /* 30px */
    width: 0px;

}
.searchButton>i{
    font-size: 10px;
}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 80%;
    padding: 0 6px;
    }
}

/* navbar_brad_position */
.navbar_brad_position{
    width:250px;
}